<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Post Detail</title>
</head>
<body>
    <h1>Post Detail</h1>
    <div>
        <label>Title:</label>
        <span th:text="${post.title}"></span>
    </div>
    <div>
        <label>Content:</label>
        <span th:text="${post.content}"></span>
    </div>
    <div>
        <label>Author:</label>
        <span th:text="${post.author}"></span>
    </div>
    <div>
        <label>Created Date:</label>
        <span th:text="${post.createdDate}"></span>
    </div>
    <div>
        <label>Modified Date:</label>
        <span th:text="${post.modifiedDate}"></span>
    </div>
    <a th:href="@{/posts}">Back to Posts List</a>
</body>
</html>
