a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
}

h1 {
  color: white;
  font-weight: bolder;
  z-index: 100;
  text-shadow: -3px 0px black, 0px 3px black, 3px 0px black, 0px -3px black;
}

#wrap {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#log_info {
  display: flex;
}

#log_info>p {
  margin: 0;
}

#log_info>p>a {
  color: white;
  padding: 5px 20px 5px 0px;
}

#log_info>p>a:hover {
  color: gray;
}

.container-fluid {
  flex: 1;
}

#top {
  position: relative;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/image/library-1147815_1280.jpg");
  /* 이미지출처) https://pixabay.com/ko/photos/%EB%8F%84%EC%84%9C%EA%B4%80-%EC%84%9C%EC%A0%81-%EC%B1%85%EC%9E%A5-%EB%AC%B8%ED%95%99-1147815/ */
  background-position: center;
}

#top::before {
  position: absolute;
  content: "";
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}